* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira Condensed", monospace;
    color: white;
}

nav {
    margin: 27px auto 0;
    position: relative;
    width: 700px;
    height: 50px;
    background-color: #5e3434;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 150px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 180px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #bc1a1a;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 150px;
    left: 210px;
    background-color: #3498db;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 160px;
    left: 360px;
    background-color: #9b59b6;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 180px;
    left: 520px;
    background-color: #e67e22;
}

body {
    font-size: 12px;
    font-family: sans-serif;
    background: #382626;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
}

/* p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash', cursive;
    font-size: 16px;
} */

span {
    color: #d62b2b;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

header {
    background-color: #222;
    color: white;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

section p strong {
    font-weight: bold;
}

/* Image in the About section */
.about-img {
    max-width: 300px;
    height: auto;
    border-radius: 25%;
    /* For a circular image */
    margin: 20px auto;
    display: block;
    margin: 20px;
}

/* Ensuring the images are responsive */
img {
    max-width: 100%;
    height: auto;
}